.cardPurple {
  border: 1px solid purple;
  display: inline-block;
  text-align: center;
  box-shadow: 5px 5px 5px purple;
  border-radius: 10px;
  max-width: 250px;
  margin:10px;
  color:purple;
  font-weight: bold;

}

.cardGreen {
  border: 1px solid green;
  display: inline-block;
  text-align: center;
  box-shadow: 5px 5px 5px green;
  border-radius: 10px;
  max-width: 250px;
  margin:10px;
  color:green;
  font-weight: bold;
}

.cardBlue {
  border: 1px solid blue;
  display: inline-block;
  text-align: center;
  box-shadow: 5px 5px 5px blue;
  border-radius: 10px;
  max-width: 250px;
  margin:10px;
  color:blue;
  font-weight: bold;
}

.cardImg {
  margin-top: 10px;
  max-width: 60%;
  max-height: auto;
}

